<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SireusRR</title>
    <meta name="description" content="Gunnar Siréus' Home Page. ReactJS Singel Page Application. Life Time Buy calculation algorithm">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="applicationHost">
        @Styles.Render("~/Content/css")
    </div>
    <script src="../Build/main.bundle.js"></script>
</body>
</html>
 